<ul class="post-list">
  {% for post in postslist | reverse %}
    {% set currentYear %}{{ post.date | getYear }}{% endset %}
    {%- if currentYear != lastYear -%}
      <h2 class="post-list__year">{{ currentYear }}</h2>
      {% set lastYear %}{{ currentYear }}{% endset %}
    {%- endif -%}
    <li class="post-list__item">
      <h3 class="post-list__title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <time datetime="{{ post.date | htmlDateString }}">
        {{ post.date | noYear }}
      </time>
    </li>
  {% endfor %}
</ul>