<ul class="post-list">
  {% for project in projectsList | reverse %}
    <li class="post-list__item">
      <div>

        <div class="post-list__tags">
          {% for tag in project.data.tags %}
            {%- if collections.tagList.indexOf(tag) != -1 -%}
              {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <a href="{{ tagUrl | url }}">#{{ tag }}</a>
            {%- endif -%}
          {% endfor %}
        </div>
        
      </div>

      <h3 class="post-list__title">
        <a  href="{{ project.url }}">{{ project.data.title }}</a>
      </h3>

      <p class="post-list__excerpt">{{ project.templateContent | excerpt | safe  }}</p>
    </li>
  {% endfor %}
</ul>