.project-list__wrapper {
  margin-top: 6rem;
}

.project-list__heading {
  font-size: var(--text-3xl);
  margin-bottom: 1rem;
}

.project-list {
  list-style: none;
  padding-top: 2rem;
}

.project-list__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  padding-top: 6rem;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.project-list__item:first-of-type {
  padding-top:0;
  border-top: none;
  margin-top: 0;
}

.project-list__item small {
  font-size: .9rem;
}

.project-list__item img {
  border: 1px solid rgb(200, 200, 200);
}

.project-list__title {
  font-size: var(--text-2xl);
  margin-top: 2rem;
}

.project-list__title a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(41, 41, 41);
}

.project-list__title a:hover {
  color: var(--accent);
  text-decoration: underline;
}

.project-list__meta {
  font-size: var(--text-sm);
  margin-top: 1rem;
  color: rgb(117, 117, 117);
}

.project-list__meta > * + * {
  margin-left: 1rem;
}

.project-list__aside a{
  text-decoration: none;
}

.project-list__aside time{
  text-decoration: none;
  color: rgb(117, 117, 117);
}

.project-list__excerpt {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.project-list__read-more {
  width: fit-content;
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 1rem;
  text-decoration: underline;
}

.project-list__read-more:hover {
  text-decoration: underline;
}

.all-posts-link {
  margin-top: 4rem;
  width: fit-content;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--text-lg);
  text-decoration: underline;
  color: currentColor;
}