---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      <span>{{description}}</span> 
      <span> | </span>
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | monthDate }}
      </time>
    </div>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

  <aside class="post__aside">
    <nav class="post__pagination">
      {%- set nextProject = collections.projects | getNextCollectionItem(page) %}
      {%- if nextProject %}

        <a href="{{ nextProject.url | url }}">
          <span>←</span>
          <span>{{ nextProject.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousPost = collections.projects | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>{{ previousPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>