---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      <span>{{description}}</span> 
      <span> | </span>
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | monthDate }}
      </time>
    </div>
    <ul>
      {% for link in relatedLinks %}
        <li>
          <a href={{link.url}} target="_blank">{{link.name}}</a>
        </li>
      {% endfor %}
    </ul>
    <hr/>
    <a href={{repoLink}} target="_blank">
      Repository
    </a>
    <hr/>
    <ul>
      {% for member in team %}
        <li>
          <p>{{member}}</p>
        </li>
      {% endfor %}
    </ul>
    <hr/>
    <ul>
      {% for tech in stack %}
        <li>
          <p>{{tech}}</p>
        </li>
      {% endfor %}
    </ul>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

  <aside class="post__aside">
    <nav class="post__pagination">
      {%- set nextProject = collections.projects | getNextCollectionItem(page) %}
      {%- if nextProject %}

        <a href="{{ nextProject.url | url }}">
          <span>←</span>
          <span>{{ nextProject.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousPost = collections.projects | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>{{ previousPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>